
h2 {

 color:#8B0000;
 text-align:center;
 
 
}

h3{
	 color:#8B0000;
 text-align:center;
}

.box {

  background-color:#A9A9A9;
	
}

.col-sm-5 {
	
	margin-top:20%;
}

img {
	
	img:relative;
}

.eita {
	
	
}

.box2 {
	
	margin-top:15%;
	
}

#ajust {
	
	margin-left:31%;
	
}

#ajust2 {
	
	margin-left:5%;
	
}



